@model TMS.MVC.Models.ViewModels.PlaceFormVm

@{
    ViewData["Title"] = "تعریف مکان جدید";
}

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6 col-12">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="col-sm-6 col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index">داشبورد</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-action="Index">مکان‌ها</a>
                    </li>
                    <li class="breadcrumb-item active">تعریف مکان</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<partial name="_PlaceForm" model="Model" />